<header>
  <nav class="flex flex-row justify-between items-center mt-2" role="navigation">
    <div class="basis-1/2">
      <a class="text-2xl sm:text-4xl" href="/"><strong>traeklabs</strong></a>
      <div class="font-light text-sm sm:text-base">Software Engineering and Productivity</div>
    </div>
    <div class="basis-1/2 flex text-sm flex-row items-center justify-end sm:text-base">
      <a class="hidden sm:block mr-2 sm:mr-4" href="/categories">Categories</a>
      <a class="bg-primary hover:bg-accent px-3 py-1.5 sm:px-6 sm:py-3 rounded-lg" href="#subscribe">Subscribe</a>
    </div>
  </nav>
</header>
